_x/
*.log
*.jou
v++*
build*/
.ipcache/
.ipynb_checkpoints/
*.tmp.ini
*.xclbin
basic.*/
benchmark.*/
__pycache__/
*.jstack
# Vivado/Vitis build artifacts (do not commit)
**/vivado/vpl/**
**/.local/**
*.dcp
*.runs/
